@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
       url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.popup-feedback * {
  box-sizing: border-box;
}

.popup-feedback {
  width: 380px;
  height: 120px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-feedback__wrap {
  position: relative;
  padding: 10px;
  width: calc(100% - 20px);
  height: 100%;
  background-color: #fff;
}

.popup-feedback__avatar {
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.popup-feedback__content {
  float: left;
  padding-left: 20px;
  width: calc(100% - 100px);
}

.popup-feedback__rating {
  float: right;
}

.popup-feedback__rating span {
  vertical-align: 1px;
  line-height: 1;
  font-size: 12px;
  color: #ff9500;
}

.popup-feedback__name {
  font-family: open_sansbold;
  color: black;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.popup-feedback__city {
  color: grey;
  font-size: 10px;
  font-family: open_sansregular;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.popup-feedback__content p {
  margin: 0;
  padding: 0;
  font-family: open_sansregular;
  font-size: 10px;
  line-height: 14px;
}

.popup-feedback__content p b {
  font-family: open_sansbold;
}

.popup-feedback__text {
  overflow: hidden;
  margin-top: 12px;
  height: 57px;
}

.popup-feedback__close {
  position: absolute;
  top: 0;
  padding-top: 10px;
  right: -16px;
  bottom: 0;
}

.popup-feedback__close span {
  font-size: 12px;
}