body {
    background-color: #bbbbbb;
}

div.container {
    background-color: white;
    max-width: 1000px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

img {
    max-height: 120px;
}

td.image {
    width: 20%;
}

td.buttons {
    width: 100px;
}

td.title {
    width: 20%;
}

.table td {
    vertical-align: middle;
}

div.tab-pane {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 800px;
}
div.field{
    margin: 15px;
}

.logo{
    max-height: 32px;
    max-width: 32px;
}
.input-group{
    height: 32px;
    margin-bottom: 8px !important;
}

span.input-group-text.logo{
    padding: 0 !important;
}

#design .input-group-text{
    width: 100px;
}
#camera .input-group-text{
    width: 125px;
}
.modal-lg{
    max-width: 1000px;
}

.col{
    padding: 10px;
}
